@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url(/assets/components/style.css);
@import url(/assets/components/cards.css);
@import url(/assets/components/sobre.css);
@import url(/assets/components/marcas.css);
@import url(/assets/components/destaque.css);
@import url(/assets/components/banner.css);
@import url(/assets/components/footer.css);
@import url(/assets/components/mobile/mobile-header.css);
@import url(/assets/components/mobile/mobile-cards.css);
@import url(/assets/components/mobile/mobile-sobre.css);
@import url(/assets/components/mobile/mobile-destaques.css);
@import url(/assets/components/mobile/mobile-banner-frete.css);
@import url(/assets/components/mobile/mobile-footer.css);
@import url(/assets/components/mobile/mobile-menu.css);
@import url(/assets/components/loja/produtos.css);

:root {
    --laranja: #FF9A03;
    --marrom: #432A2A;
    --preto: #000;
    --branco-card: #FAFAFA;
    --fonte-principal: 'Poppins';
}