#header {
    background-color: var(--marrom);
    width: 100%;
}

.header-area {
    padding: 4rem 7.75rem;
    display: flex;
    justify-content: space-between;
}

.main-nav {
    display: flex;
    font-family: var(--fonte-principal);
    font-weight: 500;
    color: #fff;
    font-size: 18px;
}
.main-nav li {
    margin-left: 40px;
}

.main-nav li:first-child{
    margin-left: 0;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--marrom);
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 10px;
}

.wrap-banner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.descricao-primaria {
    font-size: 36px;
    line-height: 56px;
    font-family: 'Poppins';
    font-weight: 700;
    width: 500px;
    color: #fff;
}

.descricao-banner {
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    width: 500px;
    color: #fff;
}

.button-produtos {
    background-color: var(--laranja);
    padding: 18px 24px;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    width: 240px;
    height: 61px;
    border: none;
    cursor: pointer;
}

#btnTop {
    background-color: var(--laranja);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    position: fixed;
    bottom: 10px;
    right: 10px;
}