@media (max-width: 768px) {
    .main-nav {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .main-nav li {
        margin: 0;
    }

    .navbar {
        position: fixed;
        right: -120%;
        top: 120px;
        padding: 2rem 0;
        background-color: var(--marrom);
        transition: 0.3s ease;
        width: 100%;
    }

    .nav-active {
        right: 0;
        position:absolute;
        top: 120px;
    }
}